<link href='../import.html' rel='import'>

<polymer-element name='context-tester'>
    <template>
        <h1>context_tester</h1>
        <paper-input value="{{model['field']}}"></paper-input>
        <paper-button on-tap='{{pop}}'>pop</paper-button>
        <paper-button on-tap='{{push}}'>push</paper-button>
        <paper-button on-tap='{{replace}}'>replace</paper-button>
    </template>
    <script src="../controllers/context_tester.dart" type="application/dart"></script>
</polymer-element>