<!-- Views Elements -->
<link href='elements/import.html' rel='import'>

<!-- Views -->
<link href='syd_error_reporter.html' rel='import'>
<link href='syv_dashboard.html' rel='import'>
<link href='syv_error404.html' rel='import'>
<link href='syv_contact_directory.html' rel='import'>
<link href='syv_login.html' rel='import'>
<link href='syv_navbar.html' rel='import'>
<link href='syv_newsfeed.html' rel='import'>
<link href='syv_profile_details.html' rel='import'>
<link href='syv_profile_form.html' rel='import'>
<link href='syv_password_reset_request.html' rel='import'>
<link href='syv_password_reset_form.html' rel='import'>
<link href='syv_signup_form.html' rel='import'>


<!-- Views administrateur -->
<link href='a/import.html' rel='import'>

<!-- Views APS -->
<link href='aps/import.html' rel='import'>

<!-- Views APST -->
<link href='apst/import.html' rel='import'>

<!-- Views Intern -->
<link href="i/import.html" rel="import">

<!-- Views Teacher -->
<link href='t/import.html' rel='import'>

<!-- Debug -->
<link href='context_tester.html' rel='import'>
