<link href='../import.html' rel='import'>

<polymer-element name='syd-error-reporter'>
    <template>
    	<link href="../styles/syd_error_reporter.css" rel="stylesheet">
		
		<paper-fab class="{{deployed ? 'deployed' : ''}}"
			icon="{{deployed ? 'close' : 'report-problem'}}"
			id="button"
			mini 
			on-tap="{{toggle}}"
			raised="false"></paper-fab>
		
		<div class="{{deployed ? 'deployed' : ''}}"
			id="background">
		</div>
		
		<paper-shadow class="{{deployed ? 'deployed' : ''}}"
			id="dialog"
			z="1">
			<core-toolbar id="toolbar">
				<core-icon icon="report-problem"></core-icon><p>Bug reporter</p>
			</core-toolbar>
			<div id="dialog-panel"><div id="unzoom-mobile">
				<p class="introduction">
					Bienvenue dans le rapporteur de bug.<br/>
					Syages est encore nouveau, et peut faire face à quelques problèmes.
					En rapportant un problème lié à son utilisation, vous contriburez à le rendre plus agréable.<br/>
					Nous nous excusons par avance pour les désagréments que vous avez pu rencontrer.
				</p>
				
				<div class="group" layout horizontal>
					<div flex>Type de rapport:</div>
					<paper-radio-group selected="{{type}}">
						<paper-radio-button name="Bug" label="Bug"></paper-radio-button>
						<paper-radio-button name="Message" label="Message"></paper-radio-button>
					</paper-radio-group>
				</div>
				
				<template if='{{type == "Bug"}}'>
					<div class="group" layout horizontal>
						<div flex>Priorité:</div>
						<paper-radio-group selected="{{priority}}">
							<paper-radio-button name="0" label="Mineur"></paper-radio-button>
							<paper-radio-button name="1" label="Normal"></paper-radio-button>
							<paper-radio-button name="2" label="Critique"></paper-radio-button>
						</paper-radio-group>
					</div>
				</template>
				
				<paper-input-decorator floatingLabel label="Informations sur le bug">
					<paper-autogrow-textarea rows=5 maxRows=5>
						<textarea value='{{message}}'></textarea>
					</paper-autogrow-textarea>
				</paper-input-decorator>
				<p class="hint">Décrivez ce qui c'est passé, si ce bug est reproductible, comment le reproduire etc...</p>
				
				<paper-button class="red" id="send-button" on-tap="{{send}}">
            		Envoyer
            		<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</div></div>
		</paper-shadow>
    </template>
    <script src="../controllers/syd_error_reporter.dart" type="application/dart"></script>
</polymer-element>
