<link href='../import.html' rel='import'>

<polymer-element name='syv-password-reset-form'>
	<template>
		<div class="padding">
            <paper-input-decorator id="passwordDecorator" floatingLabel label="Mot de passe" flex>
                	<input id="password" is="core-input" type="password" value="{{model.password}}" />
            </paper-input-decorator>
            <paper-input-decorator id="validPasswordDecorator" floatingLabel label="Confirmation mot de passe" flex>
                	<input id="confirm" is="core-input" type="password" value="{{model.confirm}}" />
            </paper-input-decorator>
	
			<paper-button class="indigo" on-tap="{{send}}">
	            Valider
	            <core-icon icon="chevron-right"></core-icon>
			</paper-button>
			<paper-button class="indigo" on-tap="{{cancel}}">
	           	Annuler
	            <core-icon icon="chevron-right"></core-icon>
			</paper-button>
			
	
			<core-a11y-keys keys="enter" on-keys-pressed="{{send}}"></core-a11y-keys>
		</div>
		<paper-toast autoCloseDisabled
						 duration="5000"
						 id="send-popup"
						 text="Si l'email saisi correspond à un compte Syages, un email sera envoyé contenant la marche à suivre.">
		</paper-toast>
	</template>
    <script src='../controllers/syv_password_reset_form.dart' type='application/dart'></script>
</polymer-element>