<link href='../import.html' rel='import'>

<polymer-element name='syv-login'>
	<template>
		<div class="padding">
			<link href='../styles/syv_login.css' rel='stylesheet' shim-shadowdom>
			<div class="logo"></div>
	        <div class="head">Syages</div>
	        <div class="introduction">Bienvenue sur votre environnement numérique de travail personnalisé. Merci de vous connecter avant de continuer.</div>
	
	        <div layout horizontal>
	            <paper-input-decorator id="emailDecorator" floatingLabel label="E-mail" flex>
	                	<input id="email" is="core-input" type="email" value="{{model.email}}" />
	            </paper-input-decorator>
	            &nbsp;
	            <paper-input-decorator id="passwordDecorator" floatingLabel label="Mot de passe" flex>
	                <input id="password" is="core-input" type="password" value="{{model.password}}"/>
	            </paper-input-decorator>
			</div>
			
			<a on-tap='{{reset}}' style="cursor:pointer">Mot de passe oublié ?</a>
			<a on-tap='{{create}}' style="cursor:pointer">Creation d'un compte</a>
	
			<paper-button class="indigo" id="login-button" on-tap="{{login}}">
	            Se connecter
	            <core-icon icon="chevron-right"></core-icon>
			</paper-button>
	
			<core-a11y-keys keys="enter" on-keys-pressed="{{login}}"></core-a11y-keys>
		</div>
		<paper-toast autoCloseDisabled
						 duration="5000"
						 id="login-error-popup"
						 text="Les identifiants spécifiés n'ont pas permis de vous authentifier, veuillez les vérifier et réessayer.">
		</paper-toast>
	</template>
    <script src='../controllers/syv_login.dart' type='application/dart'></script>
</polymer-element>
