<link href='../import.html' rel='import'>

<polymer-element name='syv-error404' noscript>
    <template><div class="padding">
        <h1>Oops!</h1>
        <p>Oops! La page que vous avez demand&eacute; n'existe pas.</p>
    </div></template>
</polymer-element>