<link href='import.html' rel='import'>

<polymer-element name="syv-profile-details">
	<template>
		<div class="padding">
			<div>
				<h1>Profil de {{user.firstName}}</h1>
				<div horizontal center-justified layout>
					<core-image style="width:200px; height:300px;" sizing="contain" src="{{user.pictureUrl}}"></core-image>
				</div>
					
				
				<div layout horizontal around-justified>
					<paper-input-decorator label="Prénom Nom" floatingLabel>
						{{user.firstName}} {{user.lastName}}
					</paper-input-decorator>
					
					<paper-input-decorator label="E-mail" floatingLabel>
						{{user.email}}
					</paper-input-decorator>	
				</div>
				

	
				
				
				
				<template if="{{user.kind != 'Intern'}}">
					<div layout horizontal around-justified>
						<!-- apst profile -->
						<template if="{{number!=null}}">
							<paper-input-decorator label="Numéro" floatingLabel>
								{{number}}
							</paper-input-decorator>
						</template>
						<template if="{{office!=null}}">
							<paper-input-decorator label="Bureau" floatingLabel>
								{{office}}
							</paper-input-decorator>
						</template>
					</div>
				</template>
				
				<template if="{{user.kind == 'Intern'}}">
					<div layout vertical>
						<!-- Intern profile -->
						<div layout horizontal around-justified>
							<paper-input-decorator label="Nom de la dernière école" floatingLabel>
								{{intern.lastSchool}}
							</paper-input-decorator>
							
							<paper-input-decorator label="Année de la dernière école" floatingLabel>
								{{intern.lastSchoolYear.year}}
							</paper-input-decorator>
						</div>
						
						<div layout horizontal around-justified>
							<paper-input-decorator label="Projet Profesionnel" floatingLabel>
								{{intern.professionalProject}}
							</paper-input-decorator>
							
							<template if="{{intern.worked == true && intern.job!=null}}">
								<paper-input-decorator label="Dernier Job" floatingLabel>
									{{intern.job}}
								</paper-input-decorator>
							</template>
						</div>
					</div>
					<!-- FOLLOWED DIPLOMA -->
				</template>
				
				<template if="{{user.kind == 'President'}}">
					<!-- President profile -->
					<template if="{{president.recurrence!=null}}">
						<paper-input-decorator label="Nombre de jours entre 2 sauvegarde de BDD" floatingLabel>
							{{president.recurrence}}
						</paper-input-decorator>
					</template>
					<template if="{{president.hour!=null}}">
						<paper-input-decorator label="Heure de la sauvegarde de la BDD" floatingLabel>
							{{president.hour}}
						</paper-input-decorator>
					</template>
				</template>
				
				<div horizontal layout end-justified>
					<paper-button on-tap={{edit}} raised>
						<core-icon icon="create"></core-icon>
						Editer mon profil
					</paper-button>
				</div>
				
			</div>
			<paper-toast duration="5000"
					 id="editProfile-error-popup"
					 text="Les informations spécifiés n'ont pas permis de mettre à jour votre profil, veuillez les vérifier et réessayer.">
			</paper-toast>
		</div>
	</template>
	<script src='../controllers/syv_profile_details.dart' type='application/dart'></script>
</polymer-element>
