<link href='../import.html' rel='import'>

<polymer-element name='syv-dashboard'>
    <template>
	</template>
	<script src="../controllers/syv_dashboard.dart" type="application/dart"></script>
</polymer-element>
