<link href='../import.html' rel='import'>

<polymer-element name='syv-navbar'>
	<template>
		<link href='../styles/syv_navbar.css' rel='stylesheet' shim-shadowdom>
		<div id="header" layout center horizontal>
			<core-icon class='{{canGoBack ? "" : "disabled"}}' icon="arrow-back" on-tap='{{goBack}}'></core-icon>
			<core-icon class='{{canGoHome ? "" : "disabled"}}' icon="home" on-tap='{{goHome}}'></core-icon>
			<core-icon id="toggle" icon="menu" on-tap='{{toggle}}'></core-icon>
			<h4 class="default-cursor" flex>SYAGES</h4>
			<core-icon class='{{canGoForward ? "" : "disabled"}}' icon="arrow-forward" on-tap='{{goForward}}'></core-icon>
		</div>
		<div class="no-scrollbar" id="links">
			<template repeat="{{action in navbar}}">
				<template if="{{action.isGroup}}">
					<sye-navbar-group model="{{action}}"></sye-navbar-group>
				</template>

				<template if="{{!action.isGroup}}">
					<sye-navbar-action model="{{action}}"></sye-navbar-action>
				</template>
			</template>
			<div style="height: 30px;"></div>
		</div>
		<paper-shadow id="footer" z="1">

			<paper-shadow class='{{displayed ? "displayed":""}} pictureMedaillon' style="background-image: url({{user.pictureUrl}});" z="1">
				<div class="overlay"><core-icon class="cogWheel" icon="settings" on-tap='{{goToProfileSettings}}'></core-icon></div>
			</paper-shadow>
			<p class="fullName">
				{{user.firstName + " " + user.lastName}}
				<core-icon icon="exit-to-app" on-tap='{{logout}}'></core-icon>
			</p>
		</paper-shadow>
	</template>
</polymer-element>

<polymer-element name="sye-navbar-action">
	<template>
		<div class="actionable default-cursor no-select" on-tap='{{onTap}}'><span class="label">{{model.label}}</span></div>
	</template>
</polymer-element>

<polymer-element name="sye-navbar-group">
	<template>
		<div class='actionable{{model.collapsed ? " collapsed" : ""}} default-cursor no-select' on-tap='{{onTap}}'>
			<span class="label">{{model.label}}</span>
			<core-icon class="caret" icon="chevron-right"></core-icon>
		</div>
		<core-collapse class="collapse" id="collapseEl">
			<template repeat="{{action in model.actions}}">
				<sye-navbar-action model="{{action}}"></sye-navbar-action>
			</template>
		</core-collapse>
	</template>
</polymer-element>

<script src='../controllers/syv_navbar.dart' type='application/dart'></script>
