<link href="../../import.html" rel='import'>

<polymer-element name="sye-date-picker-button">
	<template>
		<paper-button on-tap='{{onTap}}' raised>
			{{date | formatDate()}}
			<core-icon icon="today" on-tap="{{onTap}}"></core-icon>
		</paper-button>
		<paper-date-picker-dialog id="dateDialog" value="{{date}}"></paper-date-picker-dialog>
	</template>
	<script src='../../controllers/elements/sye_date_picker_button.dart' type='application/dart'></script>
</polymer-element>