<link href='../../import.html' rel='import'>

<polymer-element name='sye-time-of-day-selector'>
	<template>
		<paper-dropdown-menu>
			<paper-dropdown class="dropdown">
				<core-menu selected='{{selected}}'>
					<template repeat="{{time in timeOfDays}}">
						<paper-item>{{time}}</paper-item>
					</template>
				</core-menu>
			</paper-dropdown>
		</paper-dropdown-menu>
	</template>
	<script src="../../controllers/elements/sye_time_of_day_selector.dart" type="application/dart"></script>
</polymer-element>