<link href='../../import.html' rel='import'>

<polymer-element name="sye-md-timepicker-button">
	<template>
		<paper-button on-tap='{{onTap}}' raised>{{value | formatTime()}}</paper-button>
		<md-timepicker id="dialog" time="{{value}}" on-time-selected='{{timeSelected}}'></md-timepicker>
	</template>
	<script src='../../controllers/elements/sye_md_timepicker_button.dart' type='application/dart'></script>
</polymer-element>
