<link href='../import.html' rel='import'>

<polymer-element name='sye-fullbleed-spinner' noscript>
	<template>
		<style>
			:host {
				left: 0;
				position: fixed;
				top: 50%;
				width: 100%;
			}

			p#center
			{
				text-align: center;
			}
		</style>

		<p id='center'>
			<paper-spinner active></paper-spinner><br/><br/>
			<content></content>
		</p>
	</template>
</polymer-element>