<!--
    @license
    Copyright (c) 2014 Chad Liu. All rights reserved.
-->
<link rel="import" href="../../import.html">

<!--
Element providing file drop event notify.

##### Example

    <file-drop></file-drop>

@element file-drop
@blurb Element providing file drop event notify.
@status alpha
@homepage http://chadliu23.github.io/file-drop
-->
<polymer-element name="file-drop" attributes="">

  <template>
  <content></content>
  </template>

  <script>

    Polymer({
      ready: function(){
        this.ondragover = function (e) {
            e.stopPropagation();
            this.progressInvisible = true;
            if( !this.classList.contains("hover") ) {
              this.classList.add("hover");
            }
            return false;
          }
          this.ondragleave = function () {
            if( this.classList.contains("hover") ) {
              this.classList.remove("hover");
            }
            return false;
          }
          this.ondrop = function(event){
        	//alert("Il faut faire la requête vers l'api pour changer l'image dans element/file-drop.html");
        	event.preventDefault();
            if( this.classList.contains("hover") ) {
              this.classList.remove("hover");
            }
            this.fire('file-dropped', {files:event.dataTransfer.files});

          }
      },

      /**
       * The `file-dropped` event is fired whenever file dropped inside
       * <file-drop> element.
       *
       * @event file-dropped
       * @param {Object} detail
       * @param {array} detail.files
       */
    });

  </script>
  <script src="../dart_proxys/file_drop.dart" type="application/dart"></script>
</polymer-element>
