/* Buttons */
paper-button.green {
	background-color: #388E3C; /* Green 700 */
	color: #E8F5E9; /* Green 50 */
}

paper-button.indigo {
	background-color: #303F9F; /* Indigo 700 */
	color: #E8EAF6; /* Indigo 50 */
}

paper-button.red {
	background-color: #D32F2F; /* Red 700 */
	color: #E8EAF6; /* Red 50 */
}