<link rel="import" href="../../import.html">
<link rel="import" href="marked-import.html">

<!--
A tiny markdown editor which extends the mark-down element

##### Example

    <mark-down-editor>
      Hello, **world!**
    </mark-down-editor>

or alternatively:

    <mark-down-editor text="Hello, **world!**"></mark-down-editor>

@element mark-down-editor
@blurb A tiny markdown editor which extends the mark-down element
@status alpha
@homepage http://robdodson.github.io/mark-down
-->
<polymer-element name="mark-down-editor" extends="mark-down" noscript>
  <template>
    <link rel="stylesheet" href="mark-down-editor.css">
    <div id="markup" part="markup">
      <textarea id="editor" part="editor" value="{{text}}"></textarea>
    </div>
    <div id="markdown" part="markdown"></div>
  </template>
</polymer-element>
