<link href='../../import.html' rel='import'>

<polymer-element name="syv-president-form--aps">
	<template>
		<div class="padding">
			<div>
				<h1>{{edit ? "Edition" : "Création" }} d’un membre d'un président</h1>

				<paper-input-decorator label="Nom du président" floatingLabel>
					<input id="name" extends="paper-input" type="text" value="{{president.user.lastName}}" required/>
				</paper-input-decorator>

				<paper-input-decorator label="Prénom du président" floatingLabel>
					<input id="firstname" extends="paper-input" type="text" value="{{president.user.firstName}}" required/>
				</paper-input-decorator>

				<paper-input-decorator label="E-mail" floatingLabel>
					<input id="mail" extends="paper-input" type="text" value="{{president.user.email}}" required/>
				</paper-input-decorator>

				<paper-input-decorator label="Heure de la sauvegarde de la BDD" floatingLabel>
					<input id="hour" extends="paper-input" type="text" value="{{president.hour}}"/>
				</paper-input-decorator>

				<paper-input-decorator label="Recurrence de sauvegarde de la BDD(en jours)" floatingLabel>
					<input id="recurrence" extends="paper-input" type="text" value="{{president.recurrence}}"/>
				</paper-input-decorator>

				<paper-input-decorator label="Numéro" floatingLabel>
					<input id="number" extends="paper-input" type="text" value="{{president.number}}"/>
				</paper-input-decorator>

				<paper-input-decorator label="Bureau" floatingLabel>
					<input id="office" extends="paper-input" type="text" value="{{staff.office}}"/>
				</paper-input-decorator>


			<span class="right">
				<paper-button raised on-tap="{{cancel}}">
					Annuler
					<core-icon icon="close"></core-icon>
				</paper-button>
				<paper-button raised on-tap="{{save}}">
					Valider
					<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</span>

			</div>
			<paper-toast duration="5000"
					 id="createPresident-error-popup"
					 text="Les informations spécifiés n'ont pas permis de créer un président, veuillez les vérifier et réessayer.">
			</paper-toast>
		</div>
	</template>
	<script src='../../controllers/aps/syv_president_form.dart' type='application/dart'></script>
</polymer-element>
