<link href='../../import.html' rel='import'>

<polymer-element name='syv-course-form--aps'>
	<template>
		<div class='padding'>
			<h1>{{edit ? "Edition" : "Création" }} d'une matière</h1>
			
			<div>
				<paper-input-decorator floatingLabel label="Nom de la matière">
					<input is="core-input" value="{{course.name}}">
				</paper-input-decorator>
				<sye-domain-selector value='{{course.domain}}'></sye-domain-selector>
			</div>
			
			<div horizontal layout end-justified>
				<paper-button raised on-tap="{{cancel}}">
					Annuler
					<core-icon icon="close"></core-icon>
				</paper-button>
				<paper-button raised on-tap="{{save}}">
					Valider
					<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</div>
			
		</div>
	</template>
	<script src='../../controllers/aps/syv_course_form.dart' type='application/dart'></script>
</polymer-element>