<link href='../../import.html' rel='import'>

<polymer-element name="syv-teacher-list--aps">
	<template>
		<div class="padding">
			<h1>Listes des enseignants</h1>
			<paper-button raised on-tap="{{create}}">Création d'un enseignant</paper-button>
			<hr>
			<p>Il y a {{teachers.length}} enseignant(s) dans la base de données</p>
			<br/>
			<div flex>
				<template repeat='{{teacher in teachers}}'>
					<paper-card class="report" data-teacher-id='{{teacher.id}}' on-tap='{{edit}}' style="display: block;">
						<core-image src="{{teacher.user.pictureUrl}}" style="width:64px; height:64px; margin-top: 4px; margin-left: 4px;" sizing="cover"></core-image>
						<small>{{teacher.user.firstName}} {{teacher.user.lastName}}</small>
					</paper-card>
				</template>
			</div>
		</div>
	</template>
	<script src='../../controllers/aps/syv_teacher_list.dart' type='application/dart'></script>
</polymer-element>
