<link href='../../import.html' rel='import'>

<polymer-element name='syv-course-list--aps'>
	<template>
		<div class="padding">
			<h1>Listes des matières</h1>
			<paper-button raised on-tap="{{create}}">Création d'une matière</paper-button>
			<hr>
			<p>Il y a {{courses.length}} matière(s) dans la base de données</p>
			<br/>
			<div flex>
				<template repeat='{{course in courses}}'>
					<paper-card data-course-id='{{course.id}}' on-tap='{{edit}}' style="display: block;">
						{{course.name}}
					</paper-card>
				</template>
			</div>
		</div>
	</template>
	<script src='../../controllers/aps/syv_course_list.dart' type='application/dart'></script>
</polymer-element>
