<link href='../../import.html' rel='import'>
<style>
	core-image {
		margin-top: 4px;
		margin-left: 4px;
	}
</style>
<polymer-element name="syv-administrator-list--aps">
	<template>
		<div class="padding">
			<h1>Listes des administrateurs</h1>
			<paper-button raised on-tap="{{create}}">Création d'un administrateur</paper-button>
			<hr>
			<p>Il y a {{administrators.length}} membre(s) administrateurs</p>
			<br/>
			<div flex>
				<template repeat='{{administrator in administrators}}'>
					<paper-card class="report" data-administrator-id='{{administrator.id | htmlEntities()}}' on-tap='{{edit}}' style="display: block;">
						<core-image src="{{administrator.user.pictureUrl}}" style="width:64px; height:64px; margin-top: 4px; margin-left: 4px;" sizing="cover"></core-image>
						<small>{{administrator.user.firstName | htmlEntities()}} {{administrator.user.lastName | htmlEntities()}}</small>
					</paper-card>
				</template>
			</div>
		</div>
	</template>
	<script src='../../controllers/aps/syv_administrator_list.dart' type='application/dart'></script>
</polymer-element>