<link href='../../import.html' rel='import'>

<polymer-element name="syv-administrator-form--aps">
	<template>
		<div class="padding">
			<div>
				<h1>{{edit ? "Edition" : "Création" }} d'un administrateur</h1>
	
				<paper-input-decorator label="Nom de l'administrateur" floatingLabel>
					<input id="name" extends="paper-input" type="text" value="{{administrator.user.lastName}}" required/>
				</paper-input-decorator>
	
				<paper-input-decorator label="Prénom de l'administrateur" floatingLabel>
					<input id="firstname" extends="paper-input" type="text" value="{{administrator.user.firstName}}" required/>
				</paper-input-decorator>
	
				<paper-input-decorator label="E-mail" floatingLabel>
					<input id="mail" extends="paper-input" type="text" value="{{administrator.user.email}}" required/>
				</paper-input-decorator>
	
				<paper-input-decorator label="Numéro" floatingLabel>
					<input id="number" extends="paper-input" type="text" value="{{administrator.number}}"/>
				</paper-input-decorator>
	
				<paper-input-decorator label="Bureau" floatingLabel>
					<input id="office" extends="paper-input" type="text" value="{{administrator.office}}"/>
				</paper-input-decorator>
				
	
				<span class="right">
					<paper-button raised on-tap="{{cancel}}">
					Annuler
						<core-icon icon="close"></core-icon>
					</paper-button>
					<paper-button raised on-tap="{{save}}">
					Valider
						<core-icon icon="chevron-right"></core-icon>
					</paper-button>
	
				</span>
			</div>
			<paper-toast duration="5000"
					 id="createAdministrator-error-popup"
					 text="Les informations spécifiés n'ont pas permis de créer un administrateur, veuillez les vérifier et réessayer.">
			</paper-toast>
		</div>
	</template>
	<script src='../../controllers/aps/syv_administrator_form.dart' type='application/dart'></script>
</polymer-element>
