<link href='../../import.html' rel='import'>

<polymer-element name="syv-diploma-list--aps">
	<template>
		<core-style ref='table-stylizer'></core-style>
		<div class="padding">
			<h1>Listes des formations</h1>
			<paper-button raised on-tap="{{create}}">Création d'une formation</paper-button>
			<hr>
			<p>Il y a {{diplomas.length}} formation(s) dans la base de données</p>
			<br/>
			<paper-shadow z=1>
				<table class="table table-hover table-mc-deep-purple table-bordered">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Période</th>
							<th>Statut</th>
							<th>Superviseur</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr template repeat="{{diploma in diplomas}}" center>
							<td>{{diploma.name}}</td>
							<td>{{diploma.startYear}} - {{diploma.endYear}}</td>
							<td>{{diploma.status}}</td>
							<td>{{diploma.supervisor.user.firstName}} {{diploma.supervisor.user.lastName}}</td>
							<td>
								<core-icon-button icon="create" on-tap="{{edit}}" data-diploma-id="{{diploma.id}}"></core-icon-button>
							</td>
						</tr>
					</tbody>
				</table>
			</paper-shadow>
		</div>
	</template>
	<script src='../../controllers/aps/syv_diploma_list.dart' type='application/dart'></script>
</polymer-element>
