<link href='../../import.html' rel='import'>

<polymer-element name="syv-domain-form--aps">
	<template>
		<div class="padding">
			<div>
				<h1>{{edit ? "Edition" : "Création" }} d'un domaine</h1>
	
				<paper-input-decorator label="Nom du domaine" floatingLabel>
					<input id="name" extends="paper-input" type="text" value="{{domain.name}}" required/>
				</paper-input-decorator>
				
	
			<span class="right">
				<paper-button raised on-tap="{{cancel}}">
					Annuler
					<core-icon icon="close"></core-icon>
				</paper-button>
				<paper-button raised on-tap="{{save}}">
					Valider
					<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</span>
			</div>
			<paper-toast duration="5000"
					 id="createDomain-error-popup"
					 text="Les informations spécifiés n'ont pas permis de créer un enseignant, veuillez les vérifier et réessayer.">
			</paper-toast>
		</div>
	</template>
	<script src='../../controllers/aps/syv_domain_form.dart' type='application/dart'></script>
</polymer-element>
