<link href='../../import.html' rel='import'>

<polymer-element name="syv-domain-list--aps">
	<template>
		<div class="padding">
			<h1>Listes des domaines</h1>
			<paper-button raised on-tap="{{create}}">Création d'un domaine</paper-button>
			<hr>
			<p>Il y a {{domains.length}} domaines dans la base de données</p>
			<br/>
			<div flex>
				<template repeat='{{domain in domains}}'>
					<paper-card class="report" data-domain-id='{{domain.id}}' on-tap='{{edit}}' style="display: block;">
						{{domain.name}}
					</paper-card>
				</template>
			</div>
		</div>
	</template>
	<script src='../../controllers/aps/syv_domain_list.dart' type='application/dart'></script>
</polymer-element>