<link href='../../import.html' rel='import'>

<polymer-element name="syv-teacher-lessons--t">
	<template>
		<div class="padding">
			<h1>Listes de vos enseignements</h1>
			<hr>
			<div horizontal layout center>
				<template repeat='{{lesson in lessons}}'>
					<div style="margin:20px">
					<paper-card style="padding:20px" data-lesson-id='{{lesson.id}}' on-tap='{{open}}'>
						<small style="cursor:default">{{lesson.course.name}}</small>
					</paper-card>
					</div>
				</template>
			</div>
		</div>
	</template>
	<script src='../../controllers/t/syv_teacher_lessons.dart' type='application/dart'></script>
</polymer-element>