<link href='syv_evaluation_form.html' rel='import'>
<link href='syv_evaluation_detail.html' rel='import'>
<link href='syv_lecture_form.html' rel='import'>
<link href='syv_lecture_detail.html' rel='import'>

