<link rel='import' href='../../import.html'>

<polymer-element name="syv-lecture-detail--apst">
	<template>
		<div class="padding">
			<h1>{{lessonName}} &gt; Cours</h1>
			<hr>
			<paper-input-decorator label="Salle du cours" floatingLabel>
				<input id="name" extends="paper-input" type="text" value="{{lecture.classroom}}" required disabled="true"/>
			</paper-input-decorator>
			
			<p>Date</p>
			<paper-button disabled="true" raised>{{lecture.date | formatDateTime()}}</paper-button>
			
			<paper-button raised on-tap="{{edit}}">
					<core-icon icon="create"></core-icon>
				</paper-button>
			<hr>
			
			
			<template repeat="{{a in absences}}">
				<paper-card class="report" data-intern-id="{{a['intern'].id}}" on-tap="{{absence}}">
					<core-image src="{{a['intern'].user.pictureUrl}}"></core-image>
					<small>{{a['intern'].user.firstName}} {{a['intern'].user.lastName}}</small>
					<!-- 
						Le binding avec isAbsent n'est pas mis a jour en cas de on-tap 
						Faut peut-etre passé par une variable observable ?
					-->
					<paper-checkbox checked="{{a['notedAbsence'] != null}}"></paper-checkbox>
				</paper-card>
			</template>
			
			<span>
				<paper-button raised on-tap="{{cancel}}">
				Annuler
					<core-icon icon="close"></core-icon>
				</paper-button>
				<paper-button raised on-tap="{{save}}">
				Valider
					<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</span>
		</div>
	</template>
	<script src="../../controllers/apst/syv_lecture_detail.dart" type="application/dart"></script>
</polymer-element>