<link href='../../import.html' rel='import'>

<polymer-element name="syv-evaluation-detail--apst">
	<template>
		<div class='padding'>
			<h1>{{lessonName}} &gt; {{evaluation.name}}</h1>
			<!-- montrer les infos importantes de l'evaluation -->
			<paper-button raised on-tap="{{edit}}">
				<core-icon icon="create"></core-icon>
			</paper-button>
				
			<hr>
			<template repeat="{{m in marks}}">
				<div layout horizontal>
					<p>{{m.intern.user.firstName}} {{m.intern.user.lastName}}</p>
					<paper-dropdown-menu>
						<paper-dropdown class="dropdown">
							<core-menu valueattr="value" selected="{{m.status}}" >
								<paper-item value="Present">Présent</paper-item>
								<paper-item value="Absent">Absent</paper-item>
								<paper-item value="Excuse">Excusé</paper-item>
							</core-menu>
						</paper-dropdown>
					</paper-dropdown-menu>
					
					<paper-input-decorator label="Note" floatingLabel>
						<input id="mark" extends="paper-input" type="number" value="{{m.mark | asDouble }}" min="0" max="{{evaluation.gradingScale}}"/>
					</paper-input-decorator>
				</div>
				<hr>
			</template>
			<span>
				<paper-button raised on-tap="{{cancel}}">
					Annuler
					<core-icon icon="close"></core-icon>
				</paper-button>
				<paper-button raised on-tap="{{save}}">
					Valider
					<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</span>
		</div>
	</template>
    <script type="application/dart" src="../../controllers/apst/syv_evaluation_detail.dart"></script>
</polymer-element>