<link href='../../import.html' rel='import'>

<polymer-element name="syv-lecture-form--apst">
	<template>
		<div class="padding">
			<h1>{{lessonName}} &gt; Cours</h1>
			<template if="{{lectureId != 'new'}}">
				<paper-button class="red" on-tap='{{delete}}' raised>
					<core-icon icon='delete'></core-icon>
				</paper-button>
			</template>
			<hr>
			<div vertical layout id='form'>
			<paper-input-decorator label="Salle du cours" floatingLabel>
				<input id="name" extends="paper-input" type="text" value="{{lecture.classroom}}" required/>
			</paper-input-decorator>
			
			<div horizontal layout around-justified center>
				<div horizontal layout>
					<p>Date</p>
					<sye-date-picker-button date="{{date}}"></sye-date-picker-button>
				</div>
				<div horizontal layout>
					<p>Heure</p>
					<sye-md-timepicker-button value="{{time}}"></sye-md-timepicker-button>
				</div>
				<paper-input-decorator label="Durée" floatingLabel>
					<input extends="paper-input" type="number" value="{{lecture.duration | asInteger}}"/>
				</paper-input-decorator>
				
			</div>
			
			</div>
			
			
			<div horizontal layout end-justified>
				<paper-button class="indigo" raised on-tap="{{cancel}}">
					Annuler
					<core-icon icon="close"></core-icon>
				</paper-button>
				<paper-button class="indigo" raised on-tap="{{save}}">
					Valider
					<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</div>
		</div>
	</template>
	<script src="../../controllers/apst/syv_lecture_form.dart" type="application/dart"></script>
</polymer-element>