<link rel="import" href="../../import.html">
<link rel="import" href="tinycon-js-import.html">
<!--
A Ploymer element that wraps tinycon

@element my-element
@demo https://muymoo.github.io/favicon-bubble
-->
<polymer-element name="favicon-bubble" attributes="label width height font colour background fallback">
    <script>
        (function() {
            Polymer('favicon-bubble', {
                width: 7,
                height: 9,
                font: 10 * (window.devicePixelRatio || 1) + 'px arial',
                colour: '#ffffff',
                background: '#F03D25',
                fallback: true,
                label: '',
                ready: function() {
                    this.updateOptions();

                    Tinycon.setBubble(this.label);
                },
                labelChanged: function(oldValue, newValue) {
                    Tinycon.setBubble(newValue);
                },
                updateOptions: function() {
                	Tinycon.setOptions({
						width: this.width,
						height: this.height,
						font: this.font,
						colour: this.colour,
						background: this.background,
						fallback: this.fallback
					});
                }
            });
        })();
    </script>
	<script type="application/dart" src="../dart_proxys/favicon_bubble.dart"></script>
</polymer-element>
