<link href='../../import.html' rel='import'>

<polymer-element name='syv-bugreport-detail--a'>
	<template>
	<style>
		.statusClosed { color: #43A047; }
		.statusMessage { color: #1E88E5; }
		.statusOpened { color: #E53935; }
	</style>
	<div class="padding">
		<h1><core-icon-button icon="list" on-tap='{{list}}'></core-icon-button> Rapports de bugs</h1>
		<div>
			<small class='status{{report.status}}'>{{report.type}} [{{report.priority == "" ? "" : report.priority+"|"}}{{report.status}}] #{{report.id}}</small>
			<core-icon-button small icon='{{report.status == "Closed" ? "bug-report" : "check"}}' on-tap='{{changeStatus}}'></core-icon-button>
			<core-icon-button small icon="delete" on-tap='{{delete}}'></core-icon-button>
		</div>
		<hr/>
		<paper-card style="padding: 0 10px; width: 100%;">
			<mark-down text='{{report.commentary | htmlEntities()}}'></mark-down>
			<div layout horizontal><small flex style="text-align: right;">rapporté par {{report.user.firstName + " " + report.user.lastName}} [{{report.user.kind}}] — {{report.createdAt | formatDate()}}</small></div>
		</paper-card>
		<paper-card style="padding: 0 10px; width: 100%;">
			<p><span style="font-weight: 600;">Controlleur:</span>
			<span style="float: right;">{{report.controller | htmlEntities()}}</span></p>
			<p><span style="font-weight: 600;">Route:</span>
			<span style="float: right;">{{report.route | htmlEntities()}}</span></p>
		</paper-card>
		<paper-card style="padding: 0 10px; width: 100%;">
			<p style="font-weight: 600;">Contexte d'execution:</p>
			<prism-js language="javascript" inputValue="{{report.context | htmlEntities()}}"></prism-js>
		</paper-card>
		<paper-card style="padding: 0 10px; width: 100%;">
			<p style="font-weight: 600;">Informations utilisateur:</p>
			<prism-js language="javascript" inputValue="{{report.userInfo | htmlEntities()}}"></prism-js>
		</paper-card>
	</div></template>
    <script src='../../controllers/a/syv_bugreport_detail.dart' type='application/dart'></script>
</polymer-element>
