<link href='../../import.html' rel='import'>

<polymer-element name='syv-bugreport-list--a'>
	<template>
	<style>
		.report .clear-button {
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
			border-radius: 0;
			color: #3949AB;
			display:block;
			margin: 0;
			padding: 0;
			text-transform: none;
			width: 100%;
		}

		.report .clear-button:hover {
			background-color: #E8EAF6;
		}

		.report hr {
			margin: 0;
			opacity: 0.375;
		}

		paper-radio-button.filter-all::shadow #ink { color: #1E88E5; }
		paper-radio-button.filter-all::shadow #ink[checked] { color: #1E88E5; }
		paper-radio-button.filter-all::shadow #onRadio { background-color: #1E88E5; }
		paper-radio-button.filter-all::shadow #offRadio { border-color: #1E88E5; }
		paper-radio-button.filter-all[checked]::shadow #offRadio { border-color: #1E88E5; }

		paper-radio-button.filter-closed::shadow #ink { color: #E53935; }
		paper-radio-button.filter-closed::shadow #ink[checked] { color: #E53935; }
		paper-radio-button.filter-closed::shadow #onRadio { background-color: #E53935; }
		paper-radio-button.filter-closed::shadow #offRadio { border-color: #E53935; }
		paper-radio-button.filter-closed[checked]::shadow #offRadio { border-color: #E53935; }

		paper-radio-button.filter-opened::shadow #ink { color: #43A047; }
		paper-radio-button.filter-opened::shadow #ink[checked] { color: #43A047; }
		paper-radio-button.filter-opened::shadow #onRadio { background-color: #43A047; }
		paper-radio-button.filter-opened::shadow #offRadio { border-color: #43A047; }
		paper-radio-button.filter-opened[checked]::shadow #offRadio { border-color: #43A047; }
	</style>
	<div class="padding">
		<h1>Rapports de bugs</h1>
		<hr/>

		<template if='{{reports == null}}'>
			<paper-spinner>Requête en cours</paper-spinner>
		</template>

		<template if='{{reports != null}}'>
		<div layout horizontal>
			<paper-radio-group on-core-select='{{refresh}}' selected='{{filter}}'>
				<paper-radio-button class="filter-all" label="Tous" name="0"></paper-radio-button>
				<paper-radio-button class="filter-opened" label="Ouverts" name="1"></paper-radio-button>
				<paper-radio-button class="filter-closed" label="Fermés" name="2"></paper-radio-button>
			</paper-radio-group>
			<span flex></span>
			<core-icon-button icon="refresh" on-tap="{{refresh}}" style="max-height: 40px !important; min-width: 40px !important;"></core-icon-button>
		</div>
		</template>

		<template if="{{reports.length == 0}}">
			<p style='width: 100%; text-align:center;'>Aucun rapport n'a été trouvé pour le filtre sélectionné</p>
		</template>

		<template if="{{reports.length == 1}}">
			<p>{{reports.length}} rapport a été trouvé.</p>
		</template>
		<template if="{{reports.length > 1}}">
			<p>{{reports.length}} rapports ont été trouvés.</p>
		</template>

		<template if="{{reports.length > 0}}">
			<template repeat='{{report in reports}}'>
				<paper-card class="report" style="display: block;">
					<paper-button class='clear-button' data-report-id='{{report.id}}' on-tap='{{more}}'>{{report.type}} | {{report.controller}}</paper-button>
					<hr style="margin: 0; opacity: 0.25;"/>
					<div style="margin-top: 4px; padding: 0 10px;">
						<small style="color: #263238; display:block; opacity:0.75; text-align: center;">{{report.createdAt | formatDate()}}<br/><span style="font-size: 10px;">#{{report.id}}</span></small>
						<p style="margin-bottom: 4px;">{{report.commentary}}</p>
					</div>
				</paper-card>
			</template>
		</template>
	</div></template>
    <script src='../../controllers/a/syv_bugreport_list.dart' type='application/dart'></script>
</polymer-element>
